# Server Port (Optional)
PORT=3000

# Your email provider credentials (e.g., your Gmail address)
EMAIL_USER=your_email@gmail.com

# DO NOT use your real Gmail password!
# Generate an "App Password" from your Google Account settings (Security -> 2-Step Verification -> App Passwords)
EMAIL_PASS=your_16_character_app_password

# The email address that should receive the form submissions
# If left empty, it will default to EMAIL_USER
EMAIL_TO=recipient_email@example.com

# SECURITY: Only allow requests from your website domain
# Separated by commas if you have multiple. Leave blank or use * to allow anyone.
# EXAMPLES: https://mysite.com,https://www.mysite.com
ALLOWED_ORIGIN=https://my-static-site.com

EMAIL_BCC=your-email@example.com

# ==========================================================
# GOOGLE SHEETS INTEGRATION
# ==========================================================
# The email of the service account you create in Google Cloud Console
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com

# The private key associated with the service account (Keep the \n in it if on one line)
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# The ID of your spreadsheet (found in the URL)
GOOGLE_SHEET_ID=your_spreadsheet_id_here